zorg.exe
lunamark
bay
git.out
lphperrors.log
SciTEHexEdit.lua             
SciTE_ExportBase.html
SciTE_ExporterHTML.lua
SciTE_LuaExporters.lua
scitelua.n
SciTE_ExportBase.lua
SciTE_ExporterHTMLPlus.lua
smart.bak.lua
snippets.lua
tcrypt.lua
recoin.lua.o